extends ../layout

block content
    div
        if errors
            div.error
                each error in errors 
                    span= error.msg
        h1= title
        form.createPostForm(action="" method="POST")
            label(for="postTitle") Title:
            input(type="text" name="postTitle" placeholder= oldPost && oldPost.title ? oldPost.title : "Title..." value= oldPost && oldPost.title ? oldPost.title: "") 
            textarea#addpost(name="postText", cols="50", rows="10" placeholder=oldPost && oldPost.text ? oldPost.text : "Place your text...")= oldPost && oldPost.text ? oldPost.text: ""
            input(type="submit" value="Create Post")