extends ../layout

block content
    if errors.length > 0
        div
            each error in errors 
                span= error.msg
    h1= title
        form(action="" method="POST")
            label(for="postTitle") Title
            input(type="text" name="postTitle" placeholder= oldtitle && oldtitle.text ? oldtitle.text : "Title..." value= oldtitle && oldtitle.text ? oldtitle.text: "") 
            textarea#addpost(name="postText", cols="50", rows="10" placeholder=oldText && oldText.text ? oldText.text : "Place your text...")= oldText && oldText.text ? oldText.text: ""
            input(type="submit" value="Create Post")