extends layout

block content
  section.hero
    h1 Welcome to the Funniest Club!
    p Join us for laughter, fun, and exclusive content.
    a.button(href='#') Become a Member

  section.about
    h2 About Us
    p We're a quirky and exclusive community of humor enthusiasts. From dad jokes to witty one-liners, we've got it all. Join our club and unleash your inner comedian!

  section.membership
    h2 Membership
    p Our membership gives you access to:
    ul
      li Exclusive jokes
      li Comedy events
      li A lifetime supply of laughter

  section.contact
    h2 Contact Us
    p Have a funny joke to share? Contact us at laugh@members-only.com.

