a(href='/dashboard' class="logo") 
    img(src="/images/logo2-white.png", alt="logo icon")
div(class='navTitle') Members Only
ul(class="menuLinks")
    if user && user.firstName
        li
            a(href='/dashboard/membership') Membership
        li 
            a(href='/dashboard') Dashboard
        li
            a(href='/dashboard' + user.url) Profile
        if user.isAdmin
            li
                a(href="/dashboard/users") Users
        li
            a(href="/log-out") Log-out
    else
        li 
            a(href='/') Home
        li 
            a(href="/user/create") Sign-up
        li
            a(href="/login") Log-in 