extends ../layout

block content
    div.signUpForm
        h1= title
        p This is the Sign-Up page
        if errors
            div.error 
                ul 
                    if errors
                        each error in errors
                            li=error.msg
        div
            form(action="", method="POST")
                div 
                    // First Name Input
                    label(for="firstName") * First name:
                    br
                    input(type="text", id="firstName", name="firstName")
                div 
                    // Last Name Input
                    label(for="lastName") * Last name:
                    br
                    input(type="text", id="lastName", name="lastName")
                div 
                    // Username Input
                    label(for="username") * Username: 
                    span * Only Lower Case
                    br
                    input(type="text", id="username", name="username")
                div
                    // Email Input
                    label(for="email") * Email Address:
                    br 
                    input(type="email", id="email", name="email")
                div
                    // Password Input
                    label(for="password") * Password:
                    br
                    input(type="password", id="password", name="password")
                    br
                    // Password Confirmation Input
                    label(for="passwordConfirm") * Confirm Password: 
                    br
                    input(type="password", id="passwordConfirm", name="passwordConfirm")
                    br
                    span Password must include at least one letter, 
                        br
                        | one digit, one special character, 
                        br
                        | and be between 8 and 16 characters.
                div.signUpFormSubmit
                    // Submit Button
                    input.btn(type="submit" value="Sign Up")
                    a.btn(href="/") Cancel